---
---

@import "{{ site.theme }}";

/* Hide the big repo title bar heading */
.project-name,
.project-tagline {
  display: none;
}

/* Pixie hero image */
.markdown-body img.pixie-hero {
  display: block;
  max-width: 66%;
  height: auto;
  margin: 0 auto 2rem auto;
  border-radius: 8px; /* optional, just looks nice */
}

